{% extends 'base.html' %}


{% block title %} Welcome to Blogs {% endblock %}

{% block content %} 

<div class="container-custom">
    <div class="owl-carousel">
        {% for cat in cats %}
        <div class="card item">
            <div class="imag-container">
                <img src="/media/{{ cat.image }}" class="responsive-img object-fit: cover;" alt="">
            </div>
            <div class="card-content">
                <div class="card-title">
                    {{ cat.title }}
                </div>
                <p class="truncate">{{ cat.description }}</p>
                <div class="conatiner mt20">
                    <a href="/category/{{ cat.url }}" class="btn btn-primary">View</a>
                </div>
            </div>
           
        </div>

        {% endfor %}
    </div>
</div>

<div class="container">
    <div class="row bg-grey">
        <div class="col">
            {% for p in posts %}
            <div class="row mt-5">
                <div class="col s12 m8 bg-8">
                    <h4>{{p.title}}</h4>
                    {{ p.content | truncatewords:35 | safe }} <br>
                    <a href="/post/{{p.url}}" class="btn btn-primary" >Readmore...</a>
                </div>
                <div class="col s12 m4 bg-4"><img id="" src="/media/{{p.image}}" class="responsive-img " alt=""></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
