.bg-primary{
    background: #477091!important;
}
.bg-grey{
    background: #e3e6e9!important;
}
/* .bg-8{
    background: #d7dfd6!important;
}
.bg-4{
    background: #e9e6e7!important;
}
.mt5{
    background: #f1f7f0!important; */

/* } */
.mt20{
    margin-top: 5px;
}
#img{
    width: 250px;
    height: 150px;
}


/*     post      */

.container-custom{
    width: 95%!important;
    margin: auto;
}


/* Category */

.item {
    margin-top: 5px;
}

/* footer */
.page-footer-custom{
    background-color: #1784e4;

}